.current-tile
{
    margin: 1em;
    margin-top: 0.2em;
    padding: 1em;
    border-radius: 20px;
    position: relative;
}

.current-tile-content
{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    margin: 0em;
    padding: 0em;
    border-radius: 20px;
    z-index: 2;
}

.current-tile-matte
{
    position: absolute;
    background: rgba(30, 30, 30, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    opacity: 80%;
    z-index: 1;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(200, 200, 200, 0.3);
}

.last-updated-time
{
  padding-right: 2em;
  font-family: monospace;
  color:darkgray;
  text-align: right;
}

.left-block 
{
    text-align: left;
}

.right-block
{
    text-align: right;
}

.flex-block
{
    margin: 0em;
    padding: 0em;
    display: flex;
}

.location-text
{
    margin-left: 0.1em;
}

.location-text-sub
{
    margin-left: 1em;
    font-weight: normal;
    color: darkgray;
}

.current-date
{
    font-size: 25px;
}

.current-time
{
    margin: 0em;
    margin-top: -0.1em;
    padding: 0em;
    font-weight: normal;
    font-size: 100px;
}

.current-time-second
{
    margin: 0em;
    margin-left: 0em;
    margin-top: -0.1em;
    padding: 0em;
    font-weight: lighter;
    font-size: 50px;
    color: darkgray;
}

.current-temperature
{
    font-weight: lighter;
    font-size: 70px;
}

.weather-detail
{
    color: darkgray;
    font-weight: bold;
}

h1
{
    margin: 0em;
}

h2
{
    margin: 0em;
}

h3
{
    margin: 0em;
}

h4
{
    margin: 0em;
}