.forecast-tile
{
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    border-radius: 20px;
    position: relative;
}

.weather-card-tile
{
    display: flex;
    justify-content: center;
    margin: 0em;
    padding: 0em;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}


.matte-tile
{
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px;
    opacity: 100%;
    z-index: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(200, 200, 200, 0.3);
}