.weather-card
{
    margin: 0.5em;
    width: 60px;
    padding: 1em;
}

.forecast-title
{
    text-align: center;
    font-weight: bold;
    color: darkgray;
    text-shadow: 0px 0px 4px rgba(169, 169, 169, 0.3);
}

.forecast-temperature
{
    font-weight: normal;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
}

.forecast-temperature-high
{
    font-weight: normal;
    color:peru;
    text-shadow: 0px 0px 4px rgba(205, 134, 63, 0.3);
}

.forecast-temperature-low
{
    font-weight: normal;
    color:steelblue;
    text-shadow: 0px 0px 4px rgba(70, 131, 180, 0.5);
}

.forecast-temperature-divider
{
    color: darkgray;
    font-weight: normal;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-shadow: 0px 0px 4px rgba(169, 169, 169, 0.5);
}

.spacing
{
    margin: 1em;
}