.weather-card
{
    margin: 0.5em;
    width: 60px;
    padding: 1em;
}

.forecast-title
{
    text-align: center;
    font-weight: bold;
    color: dimgray;
}

.forecast-temperature
{
    font-weight: normal;
}

.forecast-temperature-high
{
    font-weight: normal;
    color:peru;
}

.forecast-temperature-low
{
    font-weight: normal;
    color:steelblue;
}

.forecast-temperature-divider
{
    color: dimgray;
    font-weight: normal;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.spacing
{
    margin: 1em;
}