.weather-list
{
    width: 100%;
    font-size: 20px;
    display: grid;
    margin: 0.2em;
    padding: 0em;
    position: relative;
    grid-template-columns: 1fr 1fr;
}

.forecast-list-left
{
    display: flex;
}

.forecast-list-right
{
    display: flex;
    margin-left: auto;
}

.forecast-list-title
{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-weight: bold;
    color: darkgray;
    text-shadow: 0px 0px 4px rgba(169, 169, 169, 0.3);
}

.forecast-list-temperature
{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.5em;
    font-weight: normal;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
}

.forecast-list-temperature-high
{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
    color: white;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
}

.forecast-list-temperature-low
{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1.5em;
    font-weight: normal;
    color:darkgray;
    text-shadow: 0px 0px 4px rgba(169, 169, 169, 0.3);
}

.forecast-list-temperature-divider
{
    margin-top: auto;
    margin-bottom: auto;
    color: darkgray;
    font-weight: normal;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-shadow: 0px 0px 4px rgba(169, 169, 169, 0.3);
}

.spacing-list
{
    margin: 0.5em;
}
