#root {
  width: 100%;
  height: 100%;
  margin: 0.5em;
  padding: 0em;
  text-align: center;
  align-items: center;
}

.container
{
  width: fit-content;
  margin: 0 auto;
}

.credit
{
  font-family: monospace;
  color:darkgray;
}